#main-img-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Esto centra el div horizontalmente */
  position: relative; /* Asegura que los ajustes de posición funcionen correctamente */
  left: 45%; /* Posiciona el contenedor en el centro de la pantalla */
  transform: translateX(-50%); /* Ajusta la posición hacia la izquierda en la mitad del ancho del contenedor */
}

.image-size {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  position: relative; /* Necesario para posicionar el figcaption */
  margin: 40px; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
  box-shadow: 0 10px 20px rgba(0, 255, 0, 0.8); /* Efecto de sombra verde neón */
}

.father {
  height: 200px; /* Ajusta la altura del contenedor para acomodar el texto */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Asegura que las miniaturas estén centradas verticalmente */
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
}

.links {
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
  text-decoration: none;
  color: white;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0,0, 0,1);
  transition: all 0.25s;
}

.links:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0, 0,1);
}

.image-container {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0, 0,0.8);
}

figcaption {
  height: 30px; /* Ajusta la altura del figcaption para que el texto sea legible */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(7, 241, 38); /* Fondo semi-transparente para mejor legibilidad */
  color: black; /* Color del texto */
  position: absolute; /* Para que el figcaption esté posicionado dentro del contenedor de la imagen */
  bottom: 0; /* Posicionar en la parte inferior */
  width: 100%;
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
}

figure {
  justify-content: center;
  height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
  background: #373B44;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);
  position: relative; /* Necesario para el posicionamiento del figcaption */
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
}

h1#title {
  color: darkred;
  text-align: center;
  text-shadow: 
    0 0 5px greenyellow, 
    0 0 10px greenyellow, 
    0 0 15px greenyellow, 
    0 0 20px green, 
    0 0 25px green, 
    0 0 30px green, 
    0 0 35px green;
}